header {
  width: 100%;
  height: 100vh;
  background: url(img/colorsplash8.jpg) center center no-repeat;
  background-size: cover;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100px;
}

.btn-primary {
  background-color: transparent;
  border-color: #ccc;
}

.navbar-brand {
  font-size: 45px;
}

.nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.intro {
  margin-top: 13%;
  margin-left: 30%;
}

.elinebutton {
  background-color: rgba(17, 13, 16, 0.5);
  block-size: 75px;
  max-width: 90%;
  width: 600px;
  border: solid 5px white;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  font-family: fantasy;
  color: white;
  font-size: 70px;
}

h5 {
  color: black;
}
.card-text {
  color: black;
}

.card-group {
  padding-bottom: 30px;
}

#collapseCities {
  width: 300px;
}

.custom-card:hover {
  color: #212529;
  text-decoration: none;
}

.card {
  padding: 0px;
  background-color: rgb(240, 239, 255);
  -webkit-box-shadow: -14px -20px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px -20px 27px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -14px -20px 27px 0px rgba(0, 0, 0, 0.75);
}
.p-5 {
  padding: 0px;
  background-color: rgb(240, 239, 255);
  -webkit-box-shadow: -14px -20px 27px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -14px -20px 27px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -14px -20px 27px 0px rgba(0, 0, 0, 0.75);
}

h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 4rem;
  margin-top: 4rem;
  margin-left: 18%;
  position: relative;
  width: 100%;
}

.container mt-5 {
  margin-bottom: 4rem;
}
