.index-header {
  width: 100%;
  height: 100vh;
  background: url(img/colorsplash8.jpg) center center no-repeat;
  background-size: cover;
}
.Utrecht {
  width: 100%;
  height: 100vh;
  background: url(img/Utrecht2.jpg) center center no-repeat;
  background-size: cover;
}

.Deventer {
  width: 100%;
  height: 100vh;
  background: url(img/Deventer.jpg) center center no-repeat;
  background-size: cover;
}

.hovereffect:hover {
  opacity: 0.2;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.hovereffect1:hover {
  opacity: 0.2;
  filter: alpha(opacity=10); /* For IE8 and earlier */
}

.DenHaag {
  width: 100%;
  height: 100vh;
  background: url(img/den-haag.jpg) center center no-repeat;
  background-size: cover;
}
.Amsterdam {
  width: 100%;
  height: 100vh;
  background: url(img/Amsterdam1.jpg) center center no-repeat;
  background-size: cover;
}

.lowerdrop {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid white 2px;
}

.citylink {
  color: white;
}
.citylink:hover {
  color: rgb(252, 248, 250);
  background-color: rgba(0, 0, 0, 0);
  border-bottom-style: solid;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100px;
}

.btn-primary {
  background-color: transparent;
  border-color: #ccc;
}

.navbar-brand {
  font-size: 45px;
}

.nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.intro {
  margin-top: 100px;
  text-align: center;
}

.table th,
.table td {
  border-top: 0px solid #dee2e6;
  padding: 5px;
}
.card {
  border: 0px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.elinebutton {
  background-color: rgba(17, 13, 16, 0.5);
  block-size: 75px;
  max-width: 90%;
  width: 400px;
  border: solid 2px white;
  font-size: 30px;
  font-weight: bold;
}

.inspiratie {
  font-family: "Raleway", sans-serif;

  font-family: "Indie Flower", cursive;

  color: white;
  font-size: 100px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .inspiratie {
    font-size: 7px;
  }
}

h5 {
  color: black;
}

h6 {
  text-align: center;
  padding-top: 20px;
}
.card-text {
  color: black;
}

.card-group {
  padding-bottom: 30px;
}

#collapseCities {
  width: auto;
  margin: 0 auto;
}

.custom-card:hover {
  color: #212529;
  text-decoration: none;
}

.bg-white {
  background-color: white;
}

.rounded-circle {
  max-width: 80px;
}

.elinesShadow {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(130, 126, 130, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(130, 126, 130, 1);
  box-shadow: 0px 0px 10px 2px rgba(130, 126, 130, 1);
}

.elinesShadow-sm {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(171, 171, 171, 1);
  -moz-box-shadow: 0px 0px 10px 2px rgba(171, 171, 171, 1);
  box-shadow: 0px 0px 10px 2px rgba(171, 171, 171, 1);
}

h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 4rem;
  margin-top: 4rem;
  margin-left: 22%;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  h4 {
    margin-left: 2%;
  }
}

.container mt-5 {
  margin-bottom: 4rem;
}

.hpicon1::before {
  background-image: url(img/klok.png);
}

.hpicon2::before {
  background-image: url(img/duim.png);
}

.hpicon3::before {
  background-image: url(img/pallet.png);
}
.hpicon4::before {
  background-image: url(img/berg.png);
}

.verhaal::before {
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
.verwachting {
  padding-left: 100px;
}

.list-group-item {
  background-color: transparent;
}

th {
  font-size: 32px;
  color: white;
}
