      <div class="intro">
      <h1 class="inspiratie">Inspiratie is overal...</h1>

      <p>
        <button
          class="btn btn-dark elinebutton"
          type="button"
          data-toggle="collapse"
          data-target="#collapseCities"
          aria-expanded="false"
          aria-controls="collapseCities"
        >
          KIES EEN STAD
        </button>
      </p>
      <div class="collapse" id="collapseCities">
        <div class=" card-body list-group-item">
          <table class="table table-hover">
            <tbody>
              <tr >
                <th scope="row"><a href="Utrecht.php" class="citylink">Utrecht</th>
                </tr>
              <tr>
                  <th scope="row"><a href="Amsterdam.php" class="citylink">Amsterdam</th>
              </tr>
              <tr>
                  <th scope="row"><a href="Deventer.php" class="citylink">Deventer</th>
              </tr>
              <tr>
                  <th scope="row"><a href="DenHaag.php"class="citylink" >Den Haag</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

